* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.stepperContainer .MuiStepConnector-line {
  border-color: #1976d2;
}

.stepperContainer .MuiStepLabel-label.Mui-active {
  color: #1976d2;
  font-weight: bold;
}
